
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
**/week_1_basics_n_setup/*
venv
**week_1_basics_n_setup/*
*.csv*
*.parquet

turnkey-triumph-412303-6e16cb0bb63c.json
cohorts/2024/workshops/dlt_resources/data_ingestion_workshop.pdf
